header {

	background-color: #F15B31;
	padding: 30px 20px 30px 20px;
}



body {

	text-align: center;
	margin:0;
}
h1 {
 
font-family: "Raleway", sans-serif;
font-weight: 400;
color:#0D2C40;
font-size: 45px;
background-color: #F15B31;
color:#FFFFFF;
padding-top:30px;
padding-bottom: 30px;
padding-right: 20px;
padding-left: 20px;
margin: 0;
}

 
 
 h2 {
 font-family: "Raleway", sans-serif;
 font-weight: 600;
 letter-spacing: 1px;
 font-size: 20px;
 color: #0D2C40;
 
 }

nav {

	background-color: #00A6b3;
	
	padding-top: 20px 0;

}

a {
font-family: "Raleway", sans-serif;
font-weight: 600;
color: #F15B31;
letter-spacing: 1PX;
font-size: 18PX;
margin-right: 20px;
margin-left: 20px;

border-bottom: 2px solid transparent;

}
a:hover{color:white;
}

main {

width: 850px;
margin-top: 35px 0 35px;
margin-left: auto;
margin-right: auto;


}
h3 {

font-family: "Raleway", sans-serif;
font-weight: 600;
color: #0D2C40;
letter-spacing: 1PX;
font-size: 20PX;

}

p {
font-family: "Droid Serif", serif;
line-height: 26PX;
font-size: 18PX;
}


img {

	margin: 40px 8px 8px 8px;
	
	}

	footer {
 font-family: "Raleway", sans-serif;
 
text-transform: uppercase;
 padding: 0px 20px;
 background-color: #0D2C40;
color: white;
font-size: 14px;
letter-spacing: .08em
font-weight: 500;
    
 }
 
 .copyright {
float: left;
 
 
 }
 
 .message {
 float: right;
 
 
 }
 
 .clearfix:after {
 visibility: hidden;
 display: block;
content: " ";
 clear: both;
 height: 0;
 font-size: 0;
 }
 
 .name {
 color: #F15B31;
font-weight: 700;
 }
 